.mat-form-field{
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.legend{
    float: right;
} 
.nombreMutation{
    cursor: pointer;
}
.download{
    margin: 5px;
    float: right;
    margin-bottom: 50px;
}
.material-icons{
    font-size: 35px;
    color: #3f51b5;
}
.filtros{
    float:left;
}
.descargas{
    margin: 10px;
    float: right;
}
#popup_legend{
    display:none;
}