<h2>VHL Data Base</h2>
<mat-card>
  <!--Select múltiple para el efecto-->
  <mat-form-field appearence = "fill">
    <mat-label>Filter by Effect</mat-label>
    <mat-select [(ngModel)]="effectsSelected" multiple>
      <mat-option *ngFor="let eff of effectsList" [value]="eff">{{eff}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Select múltiple para el tipo de VHL-->
  <mat-form-field appearence = "fill">
    <mat-label>Filter by VHL Type</mat-label>
    <mat-select [(ngModel)]="vhlSelected" multiple>
      <mat-option *ngFor="let v of vhlList" [value]="v">{{v}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Botón de submit-->
  <button mat-raised-button color="primary" (click)="find()">Find!</button>
  <!--Botón de Graficos (dialog)-->
  <button class = "side_button" mat-mini-fab color="basic" [routerLink] = "['/visualization']">
    <span class="material-icons">
      leaderboard
    </span>
  </button>
  <!--Botón de leyenda (dialog)-->
  <app-swal-legend></app-swal-legend>  
  <!--Datatable-->
  <table datatable [dtOptions]="dtOptions" [dtTrigger] = "dtTrigger" class="table">
    <!--Header-->
    <thead>
      <tr>
      <th>Mutation</th>
      <th>Molecule</th>
      <th>Mutation type</th>
      <th>Reports</th>
      </tr>
    </thead>
    <!--Data-->
    <tbody>
      <tr *ngFor="let mut of mutations">  
      <td>
        <button class = "dna_button"  mat-stroked-button color="basic" (click) = "ShowMutation(mut.Mutation, mut.Mutation_type, mut.Protein_sequence, mut.DNA_sequence)"><fa-icon [icon]="faDna"></fa-icon></button>
        <div class = "nombreMutation" >{{mut.Mutation}}</div>
      </td>
      <td>{{mut.Molecule}}</td>
      <td>{{mut.Mutation_type}}</td>
      <td class= "report" [routerLink] = "['/details/'+mut.Mutation]"><a >{{mut.Reports}}</a></td>
      </tr>
    </tbody>
  </table>
</mat-card>
<!--Footer de descargas-->
<div class = "descargas">
  <button class = "download" id = "advanced" mat-raised-button color="primary" [routerLink] = "['/download']">Advanced Download</button>
  <button class = "download" id = "csv" mat-raised-button color="link" (click)="DownloadCSV()">Full Download CSV</button>
  <button class = "download" id = "fasta" mat-raised-button color="link" (click)="DownloadFasta()">Full Download FASTA</button>
  <button class = "download" id = "json" mat-raised-button color="link" (click)="DownloadJSON()">Full Download JSON</button>
</div>
<app-swal-sequences></app-swal-sequences>