.mat-form-field{
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.side_button{
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
} 
.nombreMutation{
    cursor: pointer;
}
#or{
    margin-right: 10px;
}
.download{
    margin: 5px;
    float: right;
    margin-bottom: 50px;
}
.filtros{
    float:left;
}
.descargas{
    margin: 10px;
    float: right;
}
#popup_legend{
    display:none;
}