.mat-form-field{
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.side_button{
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
} 
.download{
    margin: 5px;
    float: right;
    margin-bottom: 50px;
}
.filtros{
    float:left;
}
.descargas{
    margin: 10px;
    float: right;
}
h2{
    text-align: center;
}
.dna_button{
    float: right;
    line-height: 25px;
    font-size: 100%;
    font-weight: bold;
    margin-right: 30px;
}