<h2>Data Visualization</h2>  
<mat-card>
  <mat-tab-group animationDuration="1500ms" mat-align-tabs="start">
    <mat-tab label = "Replacements between aminoacids">
      <app-heatmap-missense></app-heatmap-missense>
    </mat-tab>
    <mat-tab label = "Replacements per position">
      <app-heatmap-positions></app-heatmap-positions>
    </mat-tab>
    <mat-tab label = "Variability per position">
      <app-histogram-positions></app-histogram-positions>
    </mat-tab>
    <mat-tab label = "Variability per Surface">
      <app-hist-surface></app-hist-surface>
    </mat-tab>
    <mat-tab label = "VHL types by position">
      <app-hist-vhl></app-hist-vhl>
    </mat-tab>
    <mat-tab label = "Effects by position">
      <app-hist-eff></app-hist-eff>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<br>
<mat-card>
  <mat-tab-group animationDuration="1500ms" mat-align-tabs="start">
    <mat-tab label="Relationship between VHL types">
      <app-venn-vhl></app-venn-vhl>
    </mat-tab>
    <mat-tab label="Relationship between Effects">
      <app-venn-eff></app-venn-eff>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<br>
<mat-card>
  <mat-tab-group animationDuration="1500ms" mat-align-tabs="start">
    <mat-tab label="Sankey Diagram of relations between Mutation type and VHL types">
      <app-sankey-vhl></app-sankey-vhl>
    </mat-tab>
    <mat-tab label="Table of relations between Mutation type and VHL types">
      <app-table-resume-vhl></app-table-resume-vhl>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<br>
<mat-card>
  <mat-tab-group animationDuration="1500ms" mat-align-tabs="start">
    <mat-tab label="Sankey Diagram of relations between Mutation type and VHL types">
      <app-sankey-eff></app-sankey-eff>
    </mat-tab>
    <mat-tab label="Table of relations between Mutation type and Effects">
      <app-table-resume-eff></app-table-resume-eff>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<!--
<mat-card>
  <mat-tab-group animationDuration="1500ms" mat-align-tabs="start">
    <mat-tab label="VHL-Types related to Molecules and Mutation types involved">
      <mat-card-header><h2>VHL-Types related to Molecules and Mutation types involved</h2></mat-card-header>
      <app-sunburst-vhl></app-sunburst-vhl>
    </mat-tab>
    <mat-tab label="Effects related to Molecules and Mutation types involved">
      <mat-card-header><h2>Effects related to Molecules and Mutation types involved</h2></mat-card-header>
      <app-sunburst-effects></app-sunburst-effects>
    </mat-tab>
    <mat-tab label="VHL-Types and Effects related">
      <mat-card-header><h2>VHL-Types and Effects related</h2></mat-card-header>
      <app-sunburst-effects-vhl></app-sunburst-effects-vhl>
    </mat-tab>
  </mat-tab-group>
</mat-card>
-->
<br>